body {
    display: flex;
}

.header,
.footer,
.right-links,
.intro {
    background: #1f2937;
    color: white;
}

.intro {
    font-size: 48px extra-bold;
    color: #f9faf8;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


li {
    list-style-type: none;
    margin: 10px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

header {
    color: #f9faf8;;
    font-size: 24px;
}

.intro h1 {
    color: #e5e7eb;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 44px;
}

.right-links {
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
}