body {
    display: flex;
    font-family: 'Roboto';
    flex-direction: column;
}

.header,
.footer,
.right-links,
.intro {
    background: #1f2937;
    color: white;
}

.intro {
    font-size: 48px extra-bold;
    color: #f9faf8;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


li {
    list-style-type: none;
    margin: 10px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

header {
    color: #f9faf8;;
    font-size: 24px;
}

.intro h1 {
    color: #e5e7eb;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items:center;
    padding-left: 200px;
    gap: 630px;
}

.right-links {
    display: flex;
}


button {
    background: #3882f6;
    color: #e5e7eb;
    border: 1px solid  #3882f6;
    cursor: pointer;
    border-radius: 10%;
    padding: 6px 20px;
  }

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-baseline;
    padding-right: 50px;
    padding-left: 170px;
    padding-bottom: 50px;
}

